.navbar {
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.content {
    display: flex;
    height: calc(100vh - 60px);
    overflow: hidden;
}


.sidebar {
    min-width: 300px;
    max-width: 300px;
    background-color: lightblue;
    transition: all .2s linear;

    &.toggle {
        margin-left: -300px;
    }
}

.main {
    width: 100%;
    overflow: auto;
}

.chatbar {
    padding: 0;
    min-width: 300px;
    max-width: 300px;
    background-color: thistle;
    transition: all .2s linear;

    &.toggle {
        margin-right: -300px;
    }
}